body{
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}
  
  .background{
    background-image: url('Images/About image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    background-size: cover;
    margin-top: 0px;
    color: #fff;
    padding-top: 0px;
   
  }
   .About{
    margin-top: 0px;
    padding-top: 35px;
    padding-left: 35px;
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
   }
   .Home{
    padding-top: 0px;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 35px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1em;
    
   }
   
   @media (max-width: 480px) {
    .background{
     
    } 
    }

    @media (min-width: 481px) and (max-width: 1030px) {
      .background{
      
      } 
     
      }


  .Mission{
   display: flex;
   flex-direction: row;
   margin-top: 50px;
   align-items: center;
   justify-content: center;
   gap: 30px;
  
  }
  .Mission-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    

  }
  .mission-topic{
   font-size: 36px;
   font-family: 'Nunito Sans', sans-serif;
   color: #03bf4b;
   font-weight: 800;
   margin-bottom: 0px;
  
  }
  .mission-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: 16px;
   color: #03bf4b;
   margin-top: 0px;
  }
  
 .image-mission{
   width: 450px;
   height: 550px;
 }

 @media (max-width: 480px) {
  .Mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  } 
  
  .Mission-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  
 }
 .mission-topic{
   font-size: 25px;
   font-weight: 600px;
   text-align: center;

 }
 .mission-text{
   font-size: 18px;
   text-align: center;
   width: 250px;
 }

 .image-mission{
  width: 200px;
  height: 300px;
 }


}

@media (min-width: 481px) and (max-width: 1030px) {
    .Mission{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  .mission-text{
      width: 400px;
  }
  .image-mission{
     width: 300px;
     height: 350px;
  }
}
 .executives{
   margin-top: 40px;
   text-align: center;
   font-family: "Fredoka One", cursive;
   font-size: 50px;
   font-weight: bolder;
   margin-bottom: 0px;
 }
 .exe-words{
   margin-bottom: 0px;
 }


 .executives hr{
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(3, 191, 75);
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;

 }
 @media (max-width: 480px) {
  .executives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;

    
  } 
  .exe-words{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;

  }
  .executives hr{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  }

  @media (min-width: 481px) and (max-width: 1030px) {
    .executives{
      align-items: center;
      justify-content: center;
      
    } 
    .exe-words{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;

  }
   .executives hr{
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

  


 .Profile-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
  .profile{
    width: 350px;
    height: 400px;
    background-color: rgb(3, 191, 75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color:rgb(161, 175, 166)
    
  }

  .profile-image{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100px;
    margin-top: 50px;
  }

  .Name{
    color: white;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
  }

  .Role{
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }

  @media (max-width: 480px) {
    .Profile-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
   .profile{
     width: 325px;
     height: 400px;
   }

    }

    @media (min-width: 481px) and (max-width: 1030px) {
      .Profile-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
    
  }

  .footer{
    background-color: rgb(3, 191, 75);
    height: 200px;
    margin-top: 40px;
  }
  
  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-icon{
    display: flex;
  }
  .footer-icon-edit{
    height: 50px;
    width: 40px;
  }
  
  .footer-copyright{
    color: white;
  }
   .reserved{
      color: white;
      font-size: 10px;
      
    }

  @media (max-width: 480px) {
    .footer{
      display: flex;
      flex-direction: column;
    } 

  }


  @media (min-width: 481px) and (max-width: 768px) {
    .footer{
      display: flex;
      flex-direction: column; 
     
    }

    .footer-content{
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
