body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(3, 191, 75);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}

.menu-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
}


@media (max-width: 480px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  }
    nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color:#03bf4b;
    color: white; 
    width: 100%;
    padding: 15px;
    margin-top: 55px;
  }
  nav.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 50px;
  }

}

  @media (min-width: 481px) and (max-width: 1030px) {
  .header{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    
  }
}

.Investment{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 30px;
}

.Investment-wrapper{
display: flex;
flex-direction: row;
gap: 25px;
align-items: center;
justify-content: center;

}
.sign{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 50px;
  color: black;
  border: 2px solid #03bf4b;
  background-color: white;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.display{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  width: 16px;
  color: black;
  border: 2px solid #03bf4b;
  background-color: white;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;


}

.investment-image{
width:320px;
height: auto;
margin: auto;
border-radius: 20px;

}
.investment-increment{
margin-top: 1em;
display: flex;
justify-content: center;
align-items: center;

}
.minus-sign{
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border: 2px #03bf4b solid;
  display: inline-block;
  font-size: 25px;
  text-rendering: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: bold;
}
  .investment-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  color: #03bf4b;
  font-family: 'Nunito Sans', sans-serif;

}


@media (max-width: 480px) {
  .Investment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .Investment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  
    
  } 
  .investment-image{
   width: 200px;
  
  }
  .investment-text{
    font-size: 15px;
  }
  .investment-increment{
    font-size: 15px;
  }

  }


  @media (min-width: 481px) and (max-width: 1050px) {
   .Investment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

   .Investment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  
    
  } 
  

  }

.form-content{
 display: flex;
 flex-direction: row;
 background: #fff;
 margin-top: 55px;


}
.form-left{
  border-bottom-left-radius: 10px;
  background: #03bf4b;
  border-top-left-radius: 10px;
  height: 710px;
  color: white;
  padding-left: 10px;
  width: 600px;

}
.info{
font-weight: 700;
font-size: 30px;

}
.text-1{
font-size: 23px;
font-weight: 400;
line-height: 1.5;

}
.text-2{
font-size: 18px;
font-weight: 300;
line-height: 2;
font-family: 'Nunito Sans', sans-serif;
}
.detailed{
 width: 600px;
 height: 700px;
 background-color: hwb(0 96% 4% / 0.486);
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 padding-left: 20px;
 padding-top: 20px;


}
.form-Reg{
color: #03bf4b;
font-weight: 700;
font-size: 30px;
text-align: center;


}
.Edit-first-name{
font-weight: 600;
font-size: 20px;
color: #666;
display: inline-block;
align-items: center;
}

.first-box{
width: 400px;


}
.Edit-last-name{
font-weight: 600;
font-size: 20px;
color: #666;
margin-bottom: 8px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
box-sizing: border-box;
display: inline-block;


}
.last-box{
width: 400px;


}
.first-wrapper{
margin-bottom: 20px;
margin-top: 20px;
}

.Edit-phone-number{
font-weight: 600;
font-size: 20px;
color: #666;
margin-bottom: 8px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
box-sizing: border-box;
display: inline-block;
align-items: center;

}
.Number-box{
width: 300px;


}

.container{
font-weight: 600;
font-size: 15px;
color: #666;
display: block;
margin-bottom: 0px;
margin-top: 20px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
display: inline-block;

}
.Condition-text{
margin-left: 34px;
color: #333;
font-size: 18px;
font-weight: 600;
margin-bottom: 0px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
display: inline-block;


}
.linked{
font-weight: 700;
color: #03bf4b;
text-decoration: underline;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;

}
.Edit-submit{
background: #03bf4b;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 130px;
border: none;
margin-left: 10px;
cursor: pointer;
color: #fff;
font-weight: 700;
font-size: 20px;
margin-top: 10px;
padding-top: 15px;
padding-bottom: 15px;
}


@media (max-width: 480px) {
.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
} 
.form-left{
  width: 300px;
  height: 400px;
  border-radius: 10px;

}
.info{
font-weight: 500;
font-size: 25px;
}
.text-1{
 font-size: 18px;
}
.text-2{
  font-size: 13px;
}
.detailed{
 width: 300px;
 height: 700px;
 border-radius: 10px;
 font-size: 15px;
}
.form-Reg{
  font-size: 20px;
}
.first-box{
  width: 200px;
}
.last-box{
  width: 200px;
}
.Number-box{
  width: 150px;
}
.Edit-first-name{
  font-size: 10px;
}
.Edit-last-name{
  font-size: 10px;
}
.Edit-phone-number{
  font-size: 10px;
}
.linked{
  font-size: 10px;
}
.Condition-text{
  font-size: 10px;
}
}

 @media (min-width: 481px) and (max-width: 1050px) {
  .form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
} 

.detailed{
 width: 500px;
}
.form-left{
  width: 500px;
}
.text-2{
  font-size: 13px;
}
}

.footer{
  background-color: rgb(3, 191, 75);
  height: 200px;
  margin-top: 100px;
}

.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icon{
  display: flex;
}
.footer-icon-edit{
  height: 50px;
  width: 40px;
}

.footer-copyright{
  color: white;
}

.reserved{
color: white;
font-size: 10px;
}

@media (max-width: 480px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  } 

  }

  

