.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(3, 191, 75);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}

.menu-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
}


@media (min-width: 481px) and (max-width: 768px) {
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px; 
  }
}
